.homePage {
  background-color: rgba(225, 215, 233, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .content {
    background-color: white;
    padding: 2rem;
    width: 60%;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.084),
      0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.168);
    h1 {
      font-weight: 600;
      font-size: 1.8rem;
      color: #673692;
    }
    h3 {
      font-weight: 500;
      font-size: 1.6rem;
      color: #673692;
    }
    p {
      font-size: 1.2rem;
      text-align: left;
    }
    button {
      width: 60%;
      background-color: #673692;
      color: white;
      font-weight: bold;
      border: none;
      padding: 0.8rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }
  }
}
